@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(45deg, #F2B705, #F24405);
}
main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px #8c1c0380;
}
p {
    text-align: justify;
}
h1 {
    color:#F24405;
    text-align: center;
    text-shadow: 1px 1px 2px #90290371;
}
h2 {
    color:#8C1C03;
}